<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="home.css">
</head>
<body>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
     
    <div class="row elm"><div class="logo col-lg-6 col-md-6 col-sm-8 col-xs-8 offset-md-0 offset-lg-0 offset-sm-3 offset-xd-3">
<div class="images">

    <img src="blob.svg" class="img-fluid col-lg-6 col-md-6 col-sm-10 col-xs-10 " id="background" alt="">
<img src="fakhri.png"  class="img-fluid col-lg-6 col-md-6 col-sm-10 col-xs-10 " id="pngpicture" alt="">
</div>


</div>
 <div class="description col-lg-4 col-md-4 col-sm-8 col-xs-8">
<h1 class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Title</h1>
<p class="col-lg-8 col-md-8 col-sm-8 col-xs-8"> Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph
    Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph </p>

<button class="b">Github</button>
     </div>






    </div>



    </div>
    <div class="carousel-item">
        <div class="row elm">
 <div class="description col-lg-4 col-md-4 col-sm-8 col-xs-8">
<h1 class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Title</h1>
<p class="col-lg-8 col-md-8 col-sm-8 col-xs-8"> Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph
    Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph </p>


     </div>






    </div>

    </div>
    <div class="carousel-item">
<div class="row elm">
 <div class="description col-lg-4 col-md-4 col-sm-8 col-xs-8">
<h1 class="col-lg-8 col-md-8 col-sm-8 col-xs-8">Title</h1>
<p class="col-lg-8 col-md-8 col-sm-8 col-xs-8"> Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph
    Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph </p>


     </div>






    </div>    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>